:root {

    --clr-main-background: hsl(233, 47%, 7%);
    --clr-card-background: hsl(244, 38%, 16%);
    --clr-accent: hsl(277, 64%, 61%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --clr-stat-headings: hsla(0, 0%, 100%, 0.6);

    --ff-Inter: 'Inter', sans-serif;
    --ff-Lexend: 'Lexend Deca', sans-serif;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--clr-main-background);
    color: var(--clr-white);
    font-size: 0.93751rem; /*15px*/
    font-family: var(--ff-Inter);
}

img {
    display: block;
}

.text-center {
    text-align: center;
}

.container {
    padding: 5em 1.3em 0em 1.3em;
}

.card {
    background: var(--clr-card-background);
    border-radius: 15px;
    overflow: hidden;    
    margin: 0 auto;
    min-width: 22.4em;
    display: flex;
    flex-direction: column;
}

.img-container {
    position: relative;
}

.img-container::before {
    content: '';
    position: absolute;
    background-color: var(--clr-accent);
    opacity: 0.4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-img {
    max-width: 100%;
    height: auto;
}

.card-text {
    padding: 33px 27.2px 10px 27.2px;
}

.tag {
    color: var(--clr-accent);
}

.card-text-main__description {
    color: var(--clr-main-paragraph);
    margin: 1.5em 0.9em;
    line-height: 1.7;
}

.stats-items {    
    list-style: none;         
    text-transform: uppercase;   
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.stats__title {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2%;
}

.stats__description {    
    color: var(--clr-stat-headings);
    font-size: 0.7rem;
    letter-spacing: 0.1em; 
    margin-bottom: 8%;
}

@media (min-width: 690px) {
    .card {
        flex-direction: row-reverse;     
        max-width: 1110px;
        min-width: none;   
    }

    .card-text {
        padding: 0;
    }

    .card-text-main {
        text-align: left;
    }

    .card-text-main__title {
        font-size: 2.2rem;
    }

    .card-text-main__description {    
        margin: 0;        
    }  

    .stats-items {        
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .stats__description {
        font-family: var(--ff-Lexend);
    }
}