:root {
    /*Primary*/
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);    

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-whiteA: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-whiteB: hsla(0, 0%, 100%, 0.6);

    /*Fonts*/
    --font1: 'Inter', sans-serif;
    --font2: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue);   
    font-family: var(--font1);
    font-size: 1rem; /*16px*/        
}

p {
  font-size: 0.9375rem; /*15px*/
  line-height: 1.6;
}

.container {           
    margin: 5rem auto 0 auto;
    max-width: 21.09375rem;
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--dark-desaturated-blue);
    color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;      
}

.image-container {    
    background-color: var(--soft-violet);
    background-image: url('../images/image-header-mobile.jpg');
    background-position: center;
    background-size: cover;    
    background-blend-mode: multiply;
    min-height: 16rem;    
}

.text-container {
    padding: 10%;
}

.main-text {       
    text-align: center;
}

.main-text h1 {
    color: var(--white);
    font-size: 1.8rem;
}

.main-text strong {
    color: var(--soft-violet);
}

.main-text p {    
    color: var(--slightly-transparent-whiteA);
    padding-top: 5%;
    padding-bottom: 15%;
}

.stats {
    text-transform: uppercase;
}

.stats ul li {
    padding-bottom: 8%;
    list-style: none;
}

.stats ul li strong{
    color: var(--white);
    font-size: 1.3em;    
}

.stats ul li p{
    color: var(--slightly-transparent-whiteB);
    font-size: 0.6875rem; /*11px*/
    letter-spacing: 0.09375rem; /*1.5px*/
}

.attribution {
    color: var(--white);
    width: 100%;
    text-align: center;

}

@media (min-width: 60rem) /*960px*/ {

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container {      
        margin: auto;               
        max-width: 58.25rem;
        min-height: 27.875rem;
    }

    .card {
        display: flex;
        flex-direction: row-reverse;        
    }

    .text-container {
        padding: 6% 5% 6% 6%;        
        display: flex;
        flex-direction: column;
        min-width: 29.125rem;  /*466px*/      
    }

    .main-text {        
        text-align: left;        
    }

    .image-container {    
        background-color: var(--soft-violet);
        background-image: url('../images/image-header-desktop.jpg');
        background-position: center;
        background-size: cover;    
        background-blend-mode: multiply;
        min-width: 29.125rem;  /*466px*/     
    }

    .stats ul {
        text-align: left;        
    }

    .stats ul li {
        display: inline-block;  
        text-align: left;    
        padding-right: 10%;
        padding-top: 10%;  
    }

    .stats ul li p {
        font-size: 0.9375rem; /*15px*/;
        letter-spacing: normal;
    }

    .attribution {
        position: absolute;
        bottom: 0;
    }
}
